{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">

          <form method="POST" id="form">
              <!-- {% csrf_token %} -->
              {% csrf_token %}
              <p>
                  <label for="first_name">Name:</label>
                  <input type="text" placeholder="Your Name" maxlength="200" required="" id="first_name">
              </p>
              <p>
                  <!-- Step 9: Part one  >>  replicate the p tag above for reservation_date -->
                  <label for="rdate">Reservation Date:</label>
                  <input type="date" placeholder="Pick a date" required="" id="rdate">
              </p>
              <p>
                  <label for="id_field">Reservation slot:</label>
                  <input type="time" placeholder="Pick a time" required="" id="id_field">
              </p>

              <input type="submit" value="Reserve" id="reserve">
          </form>

      </div>  <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings">
        </div>
      </div>  <!--End col-->

    </div>    <!--End row-->

  </article>
</section>
<script>



</script>


{% endblock %}

